body{
  font-family: Lato;
}

.header{
  width: 100%;
  z-index: 99;
  background-color: white;
  position: fixed;
  padding: 15px 0;
}

.inner{
  width: 1100px;
  text-align: center;
  margin: auto;
}

.clear:after{
  display: block;
  content: "";
  clear: both;
}

.bolt_icon{
  font-size: 3em;
  float: left;
}

.header_btn{
  font-size: 12px;
  padding: 14px 12px;
  color: white;
  background-color: #74cfae;
  float: right;
  text-decoration: none;
  transition: 0.3s;
}

.header_btn:hover{
  color: #333;
  cursor : pointer;
}

main{
  padding-top: 78px;
}

.main{
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}


.main_title{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: Raleway;
}

.main_subtitle{
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 30px;
}

.section{
  background-color: #74cfae;
}

.sec_flex{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.sec_position{
  padding-top: 50px;
}

.sec_title{
  font-size: 24px;
  color: white;
  font-family: Raleway;
}

.sec_text{
  margin-top: 35px;
  width: 650px;
  font-size: 20px;
  color: white;
}

.art{
  background-color: #f2f2f2;
  padding-top: 60px;
}

.art .inner{
  padding-bottom: 70px;
}

.art_title{
  font-size: 24px;
  font-family: Raleway;
}

.art_img{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.art_img li{
  opacity: 0.7;
  margin-left: 100px;
  transition: 0.3s;
  margin-top: 80px;
}

.art_img li:nth-child(3n+1){
  margin-left: 0px;
}

.art_img li:nth-child(-n+3){
  margin-top: 0px;
}


.art_img li:hover{
  opacity: 1;
}

.art_bottom{
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.art_text{
  display: block;
  width: 600px;
  font-size: 20px;
  font-weight: normal;
}

.art_btn{
  color: white;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 90px;
  align-self: start;
}

.art_btn:hover{
  color: #333;
  cursor : pointer;
}

.skill{
  background-color: #4e4e4e;
  padding-top: 70px;
}

.skill .inner{
  padding-bottom: 100px;
}

.skill_title{
  font-size: 20px;
  color: white;
  font-family: Raleway;
}

.skill_img{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.skill_img li{
  margin-left: 180px;
}

.skill_img li:first-child{
  margin-left: 0px;
}

.skill_img p{
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.sns{
  background-color: #f2f2f2;
  text-align : center;
}


.sns_position{
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns_icon{
  padding: 30px 0;
  width: 185px;
  font-size: 40px;
  color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.sns_icon:hover{
  background-color: white;
  cursor : pointer;
  color: #74cfae;
}

.foot{
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}


.foot_text{
  color: white;
  text-align: right;
  font-size: 20px;
}